<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Gazebo Reference macro -->
  <xacro:macro name="RefLink" params="ref">
    <gazebo reference="${ref}">
      <kp>1000000.0</kp>
      <kd>1.0</kd>
      <mu1>3.0</mu1>
      <mu2>3.0</mu2>
      <maxVel>1.0</maxVel>
      <minDepth>0.001</minDepth>
      <material>Gazebo/DarkGrey</material>
    </gazebo>
  </xacro:macro>

  <!-- World -->
  <gazebo reference="world"/>

  <xacro:RefLink ref="link1"/>
  <xacro:RefLink ref="link2"/>
  <xacro:RefLink ref="link3"/>
  <xacro:RefLink ref="link4"/>
  <xacro:RefLink ref="link5"/>
  <xacro:RefLink ref="gripper_link"/>
  <xacro:RefLink ref="gripper_link_sub"/>

  <gazebo reference="gripper">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="gripper_sub">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>

  <gazebo reference="end_effector_link">
    <material>Gazebo/Red</material>
  </gazebo>

</robot>
